body {



}


/*  ------------------------------------------------------------------------------------

Dodger Blue color. #1e90ff

HEX COLOR: #BD3039;

/////////Fonts //////////////

font-family: 'Cutive Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Anton', sans-serif;

/////////Fonts //////////////

 ------------------------------------------------------------------------------------*/
